@namespace url('http://www.w3.org/1999/xhtml');
@namespace m url('http://www.w3.org/1998/Math/MathML');
@namespace s url('http://www.w3.org/2000/svg');

@font-face {
  font-family: "CMU Sans";
  src: url('./fonts/cmunss.otf');
}
@font-face {
  font-family: "CMU Sans";
  src: url('./fonts/cmunsx.otf');
  font-weight: bold;
}
@font-face {
  font-family: "CMU Sans";
  src: url('./fonts/cmunsi.otf');
  font-style: italic, oblique;
}
@font-face {
  font-family: "CMU Sans";
  src: url('./fonts/cmunbxo.otf');
  font-weight: bold;
  font-style: italic, oblique;
}
@font-face {
  font-family: 'CMU Serif';
  src: url('./fonts/cmunrm.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CMU Serif';
  src: url('./fonts/cmunbx.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
	font-family: 'CMU Serif';
	src: url('./fonts/cmunti.ttf');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'CMU Serif';
	src: url('./fonts/cmunbi.ttf');
	font-weight: bold;
	font-style: italic;
}
@font-face {
  font-family: 'Purisa';
  src: url('./fonts/purisa.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Purisa';
  src: url('./fonts/purisab.ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Purisa';
  src: url('./fonts/purisao.ttf');
  font-weight: normal;
  font-style: oblique;
}
@font-face {
  font-family: 'Purisa';
  src: url('./fonts/purisabo.ttf');
  font-weight: bold;
  font-style: oblique;
}


html, body, #root, .App {
  height: 100%;
}

.editor {
  font-size: 16px;
}

.ref-body, .ref-edit, .ref-new {
  padding-bottom: 2em;
}

.preview > .ref-body {
  height: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 0.5em;
}

.ref-edit-title {
  font-weight: bold;
}

.eqn-block {
  text-align: center;
}
.eqn-block > .error {
  display: block;
}
.eqn-block > .eqn-index {
  float: right;
}

*|*.icon.button {
  cursor: pointer;
  margin-right: 0.5em;
}

input:invalid,
input:focus:invalid {
  outline: rgb(255, 72, 52) solid 1px;
}



.TeX {
  font-family: "CMU Serif";
}
.TeX-e {
  position: relative;
  top: .25em;
  margin-left:  -0.2em;
  margin-right: -0.15em;
}
.LaTeX-a {
  position: relative;
  font-size: 0.75em;
  bottom: 0.25em;
  margin-left: -0.5em;
  margin-right: -0.25em;
}
.punkTeX-punk {
  font-family: "Purisa";
  font-weight: bold;
  font-style: italic;
  letter-spacing: -0.08em;
}
.punkTeX .TeX {
  position: relative;
  bottom: 0.02em;
  font-size: 1.2em;
}

.render-target {
  padding: 20px;
  font-family: "CMU Serif";
}

.render-target .error {
  background: yellow;
}

.render-target pre {
  white-space: pre-wrap;
}

.render-target m|merror {
  font-family: monospace;
}