@namespace url('http://www.w3.org/1999/xhtml');
@namespace m url('http://www.w3.org/1998/Math/MathML');
@namespace s url('http://www.w3.org/2000/svg');

@font-face {
  font-family: "Computer Modern";
  src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf');
}
@font-face {
  font-family: "Computer Modern";
  src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsx.otf');
  font-weight: bold;
}
@font-face {
  font-family: "Computer Modern";
  src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsi.otf');
  font-style: italic, oblique;
}
@font-face {
  font-family: "Computer Modern";
  src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunbxo.otf');
  font-weight: bold;
  font-style: italic, oblique;
}


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  margin: 0 -10px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  display: flex;
  width: fit-content;
  width: -moz-fit-content;
  margin: auto;
}

.App-title .punkTEX {
  font-size: 2.3em;
  margin-top: .3em;
}

.App-navigation {
  margin-top: 25px;
}

.App-tab-button {
  display: inline-block;
  background: rgb(6, 6, 37);
  border-right: solid black 1px;
  padding: 0;
  margin: 5px;
  height: 2em;
  font-weight: bolder;
}

.App-tab-button > span,
.App-tab-button > button {
  display: inline-block;
  padding: 5px 10px;
  border: solid black 1px;
  border-right: none;
  vertical-align: bottom;
  box-sizing: border-box;
  height: 100%;
}

.App-tab-button > button {
  background: none;
  padding: 0 3px;
  vertical-align: middle;
}

.App-tab-button > button > s|svg {
  stroke: white;
  fill: white;
}

.App-intro {
  font-size: large;
  display: flex;
  flex-direction: row;
  text-align: left;
}

.App-intro > * {
  flex: 1 100%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



.punkTEX-punk {
  font-family: "Purisa";
  font-weight: bold;
  font-style: italic;
}

.punkTEX-TEX {
  font-family: "Computer Modern";
  position: relative;
  bottom: .05em;
}

.punkTEX-E {
  position: relative;
  top: .2em;
}

.render-target {
  padding-left: 20px;
  font-family: "Computer Modern";
}