@namespace url('http://www.w3.org/1999/xhtml');
@namespace m url('http://www.w3.org/1998/Math/MathML');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  display: flex;
  flex-direction: row;
  text-align: left;
}

.App-intro > * {
  flex: 1 100%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


#render-target {
  padding-left: 20px;
}

#render-target m|mtext {
  font-family: Latin Modern;
}

#render-target m|math {
  font-family: Latin Modern Math;
}

#render-target m|math m|annotation {
  display: none;
}